@{
    ViewData["Title"] = "MyProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h6>Your Products</h6>
<div class="container-fluid bg-trasparent my-4 p-3" style="position: relative;">
    <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
        @foreach (var ob in ViewBag.Products)
        {
            if (ob.SellerId == ViewBag.User.Id)
            {
                <div class="col">
                    <div class="card h-100 shadow-sm" style="overflow: hidden; box-shadow: 2px 2px 10px #aaaaaa !important;">
                        <img src="/@ob.ImageURL" class="card-img-top">
                        <div class="card-body">
                            <div class="clearfix mb-3">
                                <span class="float-start badge rounded-pill bg-primary">@ob.Name</span>
                                <span class="float-end price-hp" style="color: #d9534f;">@ob.Price.00 EGP</span>
                            </div>
                            <h5 style="margin-bottom: -25px;">Category: @ob.Category</h5>
                            <h5 style="margin-bottom: -25px;">Quantity: @ob.Quantity</h5>
                            <p style="font-size: 14px; height: 30px; overflow: hidden;">@ob.Description</p>
                            <div class="button-container">
                                <button class="button" style="width:110px;">EDIT</button>
                                <button class="button delete-button" style="width:110px;">DELETE</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>